---
- include_vars: "secrets.yml"

- name: Upgrade all packages
  yum: name=* state=latest  update_cache=yes

- name: Install NTP
  yum: name=ntp update_cache=yes

- name: Enable NTP
  service: name=ntpd state=started enabled=yes

- name: Install SElinux deps
  yum: name={{item}} update_cache=yes
  with_items:
  - libsemanage-python
  - libselinux-python

- name: Install ssh pub keys for root
  authorized_key: 
    user: root
    key: '{{lookup("file", item)}}'
  with_items: "{{ssh_keys}}"

- name: Disable password based root access
  lineinfile: dest=/etc/ssh/sshd_config line="PermitRootLogin without-password" state=present
  notify: Restart sshd

- name: Enable SELinux
  selinux: policy=targeted state=enforcing

- name: Install firewalld
  yum: name=firewalld update_cache=yes

- name: Enable firewalld
  service: name=firewalld state=started enabled=yes

- name: Open firewalld for specified services
  firewalld: service={{item}} state=enabled permanent=true
  with_items: "{{firewall_exceptions}}"
  notify: Restart firewalld

- name: Install EPEL
  yum: name=https://dl.fedoraproject.org/pub/epel/7/x86_64/e/epel-release-7-8.noarch.rpm

- name: Install sysstat
  yum: name=sysstat update_cache=yes

- name: Enable sysstat
  service: name=sysstat state=started enabled=yes

- command: grep "^/swapfile" /proc/swaps
  register: swapfile_result 
  ignore_errors: true

- name: Create swap file
  command: dd if=/dev/zero of=/swapfile bs=1M count=2048
  when: swapfile_result.rc != 0

- name: Format swap file
  command: mkswap /swapfile 
  when: swapfile_result.rc != 0
  
- name: Change perms on swap file
  file: path=/swapfile owner=root group=root mode=0600

- name: Swapon swap file
  command: swapon /swapfile
  when: swapfile_result.rc != 0

- name: Update fstab with swap file
  mount: name=none src=/swapfile fstype=swap opts=sw passno=0 dump=0 state=present
