{% extends "base.html" %}

{% block title %}
{{race_class.name}} Race Details
{% endblock %}

{% block page_content %}
<ul class="breadcrumb"> 
  <li><a href="{{url_for('main.index')}}">Home</a></li> 
  <li><a href="{{url_for('race_class.index')}}">Categories</a></li>
  <li class="active">{{race_class.name}}</li>
</ul>
<div class="page-header">
    <h1>Details for Category: {{race_class.name}}</h1>
{% if current_user.is_authenticated and current_user.has_role('official') %}
    <a class="btn btn-default" href="{{ url_for('race_class.edit',id=race_class.id)}}"><span class="glyphicon glyphicon-pencil"></span> Edit category</a>
    <button type=button class="btn btn-danger" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-remove"></span> Delete category</button>
    {{ macros.confirm_delete_modal(race_class,'race_class.delete')}}
{% endif %}
</div>

{% endblock %}
