{% extends "base.html" %}

{% block title %}
{{team.name}} Team Details
{% endblock %}

{% block page_content %}
<h6>
<ul class="breadcrumb"> 
  <li><a href="{{url_for('main.index')}}">Home</a></li> 
  <li><a href="{{url_for('team.index')}}">Teams</a></li>
  <li class="active">{{team.name}}</li>
</ul>
</h6>
<div class="page-header">
    <h1>{{team.name}}</h1>
{% if current_user.is_authenticated and (current_user.has_role('official') or current_user.has_role('moderator')) %}
    <a class="btn btn-default" href="{{ url_for('team.edit',id=team.id)}}"><span class="glyphicon glyphicon-pencil"></span> Edit team details</a>
    <a class="btn btn-default" href="{{url_for('team.add_racer',id=team.id)}}"><span class="glyphicon glyphicon-plus"></span> Add a racer</a>
    <button type=button class="btn btn-danger" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-remove"></span> Delete team</button>
    {{ macros.confirm_delete_modal(team,'team.delete')}}
{% endif %}
</div>

{%if current_racers|length >0%}
<h2>Team Roster</h2>
<ul>
{%for racer in current_racers%}
<li><a href="{{url_for('racer.details',id=racer.id)}}">{{racer.name}}</a></li>
{%endfor%}
</ul>
{%endif%}


<h2>All Team Result</h2>
<div class="table-responsive">
<table class="table table-striped table-bordered">
<thead>
<tr>
<th>Race Date</th>
<th>Category</th>
<th>Participants</th>
</tr>
</thead>
<tbody>
{% for result in results %}
<tr>
<td>
<a href="{{url_for('race.details',id=result[3])}}">{{result[0].strftime('%m/%d/%Y')}}</a>
</td>
<td>
{{result[1]}}
</td>
<td>
{{result[2]}}
</td>
</tr>
{%endfor%}
</tbody>
</table>
</div>
{% block scripts %}
{{super()}}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.0/d3.min.js"></script>
{%endblock%}
{% endblock %}
