{% extends "base.html" %}

{% block title %}Teams{% endblock %}

{% block page_content %}
<h6>
<ul class="breadcrumb"> 
  <li><a href="{{url_for('main.index')}}">Home</a></li> 
  <li class="active">Teams</li>
</ul>
</h6>
<div class="page-header">
    <h1>Teams</h1>
{% if current_user.is_authenticated and current_user.has_role('official') %}
<a class="btn btn-default" href="{{url_for('team.add')}}"><span class="glyphicon glyphicon-plus"></span> Add a team</a>
{% endif %}
</div>
<div class="table-responsive">
<table class="table table-striped table-bordered">
<thead>
<tr>
    <th>Name</th>
    <th>Racers</th>
</tr>
</thead>
<tbody>
{% for team in teams %}
<tr>
<td><a href="{{url_for('team.details',id=team.id)}}">{{ team.name}}</a></td> 
<td>{{team.current_racers|length}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
