{% extends "base.html" %}

{% block title %}
{{course.name}} Course Details
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Details for Category: {{course.name}}</h1>
{% if current_user.is_authenticated and current_user.has_role('official') %}
    <a class="btn btn-default" href="{{ url_for('course.edit',id=course.id)}}"><span class="glyphicon glyphicon-pencil"></span> Edit course</a>
    <button type=button class="btn btn-danger" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-remove"></span> Delete course</button>
    {{ macros.confirm_delete_modal(course,'course.delete')}}
{% endif %}
</div>
<p style="font-size: 150%;">
    Lap length: {{'{:.2f} miles'.format(course.length_miles) if course.length_miles else 'unknown'}}
</p>
{% endblock %}
