DB_PASS={{db_pass}}
DB_USER={{db_user}}
DB_HOST={{db_host}}
GOOGLE_ANALYTICS_ID={{google_analytics_id}}
SECRET_KEY={{secret_key}}
MAIL_PASSWORD={{mail_password}}
MAIL_USERNAME={{mail_username}}
STRAVA_API_TOKEN={{strava_api_token}}
STRAVA_CLIENT_SECRET={{strava_client_secret}}
STRAVA_CLIENT_ID={{strava_client_id}}
MAIL_SUBJECT_PREFIX={{mail_subject_prefix}}

