[uwsgi]
uid = {{oval_user}}
gid = {{oval_group}}
socket = :{{uwsgi_port}}
master = true
enable-threads = True
chdir = {{app_dir}}
venv = {{venv_dir}}
module = manage:app
plugin = python
for-readline = {{oval_vars}}
  env = %(_)
endfor =
