{% extends "base.html" %}

{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.0/fullcalendar.min.css">
{% endblock %}

{% block title %}Calendar{% endblock %}

{% block page_content %}
<h6>
<ul class="breadcrumb"> 
  <li><a href="{{url_for('main.index')}}">Home</a></li> 
  <li class="active">Calendar</li>
</ul>
</h6>
<div class="page-header">
<h1>Race calendar</h1>
{% if current_user.is_authenticated and current_user.has_role('official') %}
  <a class="btn btn-default" href="{{url_for('race.add')}}"><span class="glyphicon glyphicon-plus"></span>Add a race</a>
{% endif %}
<a class="btn btn-default" href="{{url_for('race.search')}}"><span class="glyphicon glyphicon-search"></span>Race search</a>
<div class="dropdown" style="display: inline;">
  <div class="btn-group" role="group">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
      <span class="glyphicon glyphicon-th-list"></span>
      Table View
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
    {% for year in years %}
      {% if selected_year == year %}
      <li class="active">
      {% else %}
      <li>
      {% endif %}
        <a href="{{url_for('race.index', race_view='table', year=year)}}">{{year}} Season</a>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
{% if session.race_view != 'calendar' %}
  <a class="btn btn-default" href="{{url_for('race.index', race_view='calendar')}}">
    <span class="glyphicon glyphicon-calendar"></span>Calendar View
  </a>
{% endif %}
</div>
{%if session.race_view=='calendar' %}
<div id='calendar'></div>
{%else%}
<div class="table-responsive">
<table class="table table-striped table-bordered">
<thead>
<tr>
  <th>Race Date</th>
  <th>Category</th>
  <th>Course</th>
  <th>Points</th>
  {% if current_user.is_authenticated and current_user.has_role('official') %}
  <th>Results</th>
  {% endif %}
</tr>
</thead>
<tbody>
{% for race in races %}
<tr>
<td>
  {% if (race.participants | length > 0) or current_user.is_authenticated and current_user.has_role('official') %}
  <a href="{{url_for('race.details',id=race.id)}}">{{race.date.strftime('%m/%d/%Y')}}</a>
  {% else %}
  {{race.date.strftime('%m/%d/%Y')}}
  {% endif %}
</td>
<td>{{race.race_class.name}}</td>
<td>{{race.course.name}}</td>
<td>
  {% if race.points_race %}
     <center>
        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
      </center>
  {% endif %}
</td>
{% if current_user.is_authenticated and current_user.has_role('official') %}
<td>
  {% if race.participants | length > 0 %}
     <center>
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      </center>
  {% endif %}
</td>
{% endif %}
</tr>
{% endfor %}
</tbody>
</table>
</div>

{%endif%}
{% endblock %}
{% block scripts %}
{{super()}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.0/fullcalendar.min.js"></script>
<script>
$(document).ready(function() {
  $('#calendar').fullCalendar({
    header: {
        left: 'title',
        right: 'today, prev,next prevYear,nextYear'
    },
    events: '/race'
  })
});
</script>
{%endblock%}

