{% extends "base.html" %}

{% block title %}
{{racer.name}} Racer Details
{% endblock %}

{% block page_content %}
<h6>
<ul class="breadcrumb"> 
  <li><a href="{{url_for('main.index')}}">Home</a></li> 
  <li><a href="{{url_for('racer.index')}}">Racers</a></li>
  <li class="active">{{racer.name}}</li>
</ul>
</h6>
<div class="page-header">
    <h1>{{racer.name}}
    {% if racer.aca_member %}
        <h4><span class="label label-info">ACA Member</span></h4>
    {% endif %}
    </h1>
{% if current_user.is_authenticated and (current_user.has_role('official') or current_user.has_role('moderator')) %}
    <a class="btn btn-default" href="{{ url_for('racer.edit',id=racer.id)}}"><span class="glyphicon glyphicon-pencil"></span> Edit racer details</a>
    <button type=button class="btn btn-danger" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-remove"></span> Delete racer</button>
    {% if racer.strava_id %}
    {{ macros.confirm_delete_modal(racer,'racer.delete')}}
    <button type=button class="btn btn-danger" data-toggle="modal" data-target="#deauthorizestrava"><span class="glyphicon glyphicon-remove"></span> Deauthorize Strava</button>
    {{ macros.confirm_deauthorize_strava_modal(racer,'racer.deauthorize_strava')}}
    {% endif %}
{% endif %}
</div>
{%if racer.strava_id and racer.strava_profile_url%}
<img src="{{racer.strava_profile_url}}" class="img-responsive img-circle">
{%endif%}
<h2>Racer Bio</h2>
{%if racer.usac_license %}
<h5>
USAC License: <a href="https://www.usacycling.org/results/index.php?compid={{racer.usac_license}}">{{racer.usac_license}}</a>
</h5>
{%endif%}
{%if racer.birthdate %}
<h5>
Race age: {{racer.race_age}}
</h5>
{%endif%}

{% if current_team or teams|length>0%}
<h5>
Current team: 
{% if current_team %}
<a href="{{url_for('team.details',id=current_team.id)}}">{{current_team.name}}</a>
{%else%}
None
{%endif%}
</h5>
{%if teams|length>0%}
<h5>
Previous teams:
<ul>
{%for team in teams%}
<li><a href="{{url_for('team.details',id=team.id)}}">{{team.name}}</a></li>
{%endfor%}
</ul>
</h5>
{%endif%}
{%endif%}
{%if racer.strava_id%}
<a style="display:inline-block;background-color:#FC4C02;color:#fff;padding:5px 10px 5px 30px;font-size:11px;font-family:Helvetica, Arial, sans-serif;white-space:nowrap;text-decoration:none;background-repeat:no-repeat;background-position:10px center;border-radius:3px;background-image:url('http://badges.strava.com/logo-strava-echelon.png')" href='http://strava.com/athletes/{{racer.strava_id}}/badge' target="_clean">
  Follow me on
  <img src='http://badges.strava.com/logo-strava.png' alt='Strava' style='margin-left:2px;vertical-align:text-bottom' height=13 width=51 />
</a>
{%else%}
  <a href="{{strava_url}}"><img src="https://strava.github.io/api/images/ConnectWithStrava.png"></a>
{%endif%}

<h2>All Race Results</h2>
<div class="table-responsive">
<table class="table table-striped table-bordered">
<thead>
<tr>
<th>Race Date</th>
<th>Category</th>
<th>Place</th>
<th>Team</th>
<th>Points</th>
<th>Team Points</th>
</tr>
</thead>
<tbody>
{% for participant in racer.participants|sort(attribute='race.date',reverse = True) %}
<tr>
<td><a href="{{ url_for('race.details', id=participant.race.id) }}">{{ participant.race.date.strftime('%m/%d/%Y') }}</a></td>
<td><a href="{{url_for('race_class.details', id=participant.race.race_class.id)}}">{{participant.race.race_class.name}}</a></td>
{% if participant.place is not none %}
<td>{{participant.place}}</td>
{% else %}
<td>-</td>
{% endif %}
{%if participant.team is not none %}
<td><a href="{{url_for('team.details', id=participant.team.id)}}">{{ participant.team.name }}</a></td>
{%else%}
<td>-</td>
{%endif%}
{% if participant.points is not none %}
<td> {{ participant.points }}</td>
{% else %}
<td>-</td>
{%endif %}
{% if participant.team_points is not none %}
<td> {{ participant.team_points }}</td>
{% else %}
<td>-</td>
{%endif %}
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
