{% extends "base.html" %}

{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap-slider.min.css')}}">
{% endblock %}

{% block title %}Racers{% endblock %}

{% block page_content %}
<h6>
<ul class="breadcrumb">
  <li><a href="{{url_for('main.index')}}">Home</a></li>
  <li class="active">Racers</li>
</ul>
</h6>
<div class="page-header">
  <h1>Racers</h1>
  <a class="btn btn-default" href="{{url_for('racer.search')}}"><span class="glyphicon glyphicon-search"></span> Racer search</a>
  <a class="btn btn-default" href="{{url_for('racer.head2head')}}">Head-to-Head</a>
  {% if current_user.is_authenticated and (current_user.has_role('official') or current_user.has_role('moderator')) %}
  <a class="btn btn-default" href="{{url_for('racer.add')}}"><span class="glyphicon glyphicon-plus"></span> Add a racer</a>
  <a class="btn btn-default" href="{{url_for('racer.membership_list')}}">ACA Membership</a>
  {% endif %}
</div>

<div class="form-group">
  <label for="season-slider">Season range</label>
  <div class="input-group">
    <div style="margin-left: 16px; margin-right: 16px; float: left">
      <input id="season-slider" type="text"
             data-provide="slider"
             data-slider-ticks="[{{seasons|sort|join(',')}}]"
             data-slider-ticks-snap-bounds="30"
             data-slider-value="[{{season_range_default[0]}}, {{season_range_default[1]}}]"
             data-slider-ticks-labels="[{{seasons|sort|join(',')}}]" />
    </div>
    {% if current_user.is_authenticated and (current_user.has_role('official') or current_user.has_role('moderator')) %}
    <label><input id="ckb-no-races" type="checkbox" value="" style="margin-left: 20px">No races</label>
    {% endif %}
  </div>
</div>
<fieldset id="fs-class-checkboxes">
  <label for="div-class-checkboxes">Classes</label><br>
  <div id="div-class-checkboxes" class="form-group" style="float: left; margin-right: 10px;">
    <div id="class-checkboxes" class="btn-group inline" data-toggle="buttons">
      {% for race_class in race_classes.values()|sort(attribute="name") %}
      <label class="btn btn-primary">
        <input id="class-checkbox-{{race_class.id}}" type="checkbox"
               autocomplete="off" value="{{race_class.id}}">
        {{race_class.name}}
      </label>
      {% endfor %}
    </div>
  </div>
  <div class="form-group">
    <fieldset id="fs-class-checkbox-all">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary">
          <input id="class-checkbox-all" type="checkbox" autocomplete="off" value="all">
          All
        </label>
      </div>
    </fieldset>
  </div>
</fieldset>

<div id="racers-table-div" class="table-responsive">
<table id="racers-table" class="table table-striped table-bordered">
<thead>
<tr>
    <th data-field="name">Name</th>
    <th data-field="current_team_name">Team</th>
</tr>
</thead>
<tbody>
</tbody>
</table>
</div>

{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='bootstrap-slider.min.js')}}"></script>
<script>
function updateDocument() {
  var isNoRaces = $('#ckb-no-races').prop('checked');
  $('#season-slider').slider(isNoRaces ? 'disable' : 'enable');
  $('#fs-class-checkboxes').prop('disabled', isNoRaces);

  var classCheckboxes = $('#class-checkboxes input');
  var selectedClasses = classCheckboxes
    .filter(function() { return this.checked; })
    .map(function() { return this.value; }).get();

  var allCkb = $('#class-checkbox-all');
  console.log(selectedClasses.length);
  console.log(classCheckboxes.length);
  console.log(selectedClasses.length === classCheckboxes.length);
  if (selectedClasses.length != 0 && selectedClasses.length != classCheckboxes.length) {
    allCkb.prop('checked', false);
    allCkb.parent('label').removeClass('active');
    $('#fs-class-checkbox-all').prop('disabled', false);
  } else {
    allCkb.prop('checked', true);
    allCkb.parent('label').addClass('active');
    $('#fs-class-checkbox-all').prop('disabled', true);
  }

  console.log(selectedClasses);

  var seasonRange = $('#season-slider').slider('getValue').join();
  var classFilters = selectedClasses.join();

  args = isNoRaces ? {} :
    {'filter_seasons': seasonRange,
     'filter_race_class_ids': classFilters};

  function rebuildTable(data) {
    var rows = ''
    data.forEach(function(racer) {
      var row = '<tr>'

      row += '<td>'
      row += '<a href="/racer/' + racer.id + '">' + racer.name + '</a>'
      if (racer.strava_id) {
        row += '<style>'
        row += '.strava-badge- { display: inline-block; height: 24px; } '
        row += '.strava-badge- img { visibility: hidden; height: 24px; }'
        row += '.strava-badge-:hover { background-position: 0 -37px; }'
        row += '.strava-badge-follow { height: 24px; width: 24px; background: url(http://badges.strava.com/echelon-sprite-24.png) no-repeat 0 0; }'
        row += '</style>'
        row += '<a href="http://strava.com/athletes/' + racer.strava_id + '/badge" class="strava-badge- strava-badge-follow" target="_blank"><img src="http://badges.strava.com/echelon-sprite-24.png" alt="Strava" /></a>'
      }

      if (racer.points_eligible){
        row += '<span class="glyphicon glyphicon-ok" area-hidden="true" style="padding-left: 1em;"></span>'
      }
      row += '</td>'

      row += '<td>'
      if (racer.current_team_id) {
        row += '<a href="/team/' + racer.current_team_id + '">' + racer.current_team_name + '</a>'
      }

      row += '</td>'

      row += '</tr>'
      rows += row
    });
    $("#racers-table tbody").remove();
    $('#racers-table').append(rows);
  }

  $.get("/racer/filter", args, rebuildTable, 'json');
}

$(document).ready(function() {
  $('#season-slider').on('slideStop', updateDocument);
  $('#ckb-no-races').on('change', updateDocument);
  $('#class-checkboxes input').each(function() {
    $(this).on('change', updateDocument);
  });
  $('#class-checkbox-all').on('change', function() {
    if (this.checked) {
      $('#class-checkboxes input').each(function() {
        $(this).prop('checked', false);
        $(this).parent('label').removeClass('active');
      });
    };
    updateDocument();
  });

  updateDocument();
});
</script>
{%endblock%}
