{% extends "bootstrap/base.html" %}

{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/google.html" as google %}
{% import "macros.html" as macros %}

{% block html_attribs %} lang="en" {% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> 
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.0/fullcalendar.min.css">
{% endblock %}


{% block title %}The Oval App{%endblock %}
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">The Oval App</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.standings') }}">Standings</a></li> 
                <li><a href="{{ url_for('main.race_class') }}">Categories</a></li> 
                <li><a href="{{ url_for('main.racer') }}">Racers</a></li> 
                <li><a href="{{ url_for('main.team') }}">Teams</a></li> 
                <li><a href="{{ url_for('main.race') }}">Races</a></li> 
                <li><a href="{{ url_for('main.send_feedback') }}">Feedback</a></li> 
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Admin<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('main.marshal')}}">Marshals</a></li>
                        <li><a href="{{url_for('main.official')}}">Officials</a></li>
                        {% if current_user.has_role('superadmin') %}
                            <li><a href="{{url_for('auth.admin')}}">Admins</a></li>
                        {%endif%}
                        <li><a href="{{url_for('auth.change_password')}}">Change Password</a></li>
                        <li><a href="{{url_for('auth.change_email_request')}}">Change Email Address</a></li>
                        <li><a href="{{ url_for('main.changelog') }}">Changelog</a></li> 
                        <li><a href="{{url_for('auth.logout')}}">Sign Out</a></li>
                        
                    </ul>
                {% else %}
                    <li><a href="{{url_for('auth.login')}}">Admin Sign In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>


{% endblock %}
{% block scripts %}
  {{super()}}  
  {# <script src="{{url_for('static', filename='bootstrap3-typeahead.min.js')}}"></script> #}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.1/bootstrap3-typeahead.min.js"></script> 
   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.1/bootstrap3-typeahead.min.js"></script> 
  {{moment.include_moment()}}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.0/fullcalendar.min.js"></script> 
  {{google.uanalytics(config['GOOGLE_ANALYTICS_ID'])}}

 
{% endblock %}



