{% extends "base.html" %}

{% block title %}The Oval App{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>The Oval App - Changelog</h1>
</div>
<ul>
<li> 04/20/2016 - v0.1.4</li>
  <ul>
    <li>Add Admin password reset, change and email update functionality</li>
    <li>Create separate admin roles (officials, superadmins), etc</li>
    <li>Prevent displaying points columns if a non-points race</li>
  </ul>
<li> 04/15/2016 - v0.1.3</li>
  <ul>
    <li>Change team name from select field to typeahead text box</li>
    <li>Dynamically set "Place" field to next available place when adding new participants to a race</li>
    <li>Add total number of starts to the race details and change Participants to Finishers</li>
    <li>Display most recent race for each category on the home page</li> 
  </ul>
<li> 04/13/2016 - v0.1.2</li>
  <ul>
    <li>Created basic standings functionality</li>
    <li>Added google analytics</li>
  </ul>
<li> 04/12/2016 - v0.1.1</li>
  <ul>
    <li>Added a feedback form</li>
    <li>Other minor html tweaks</li>
  </ul>
<li> 04/11/2016 - v0.1.0</li>
  <ul>
    <li>Add/remove/edit/delete for race class, racers, teams, and races (admins only)</li>
    <li>Navigable links for race class, racers, teams and races</li>
  </ul>
</ul>
{% endblock %}
