{% macro confirm_delete_modal(object,endpoint) %}
<div class="modal fade" id="delete" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title" id=delete>Confirmation</h4>
      </div>
      <div class="modal-body">
        <p>Warning, you are about to delete {{object.__class__.__name__}} {{object.name}}. Are you sure you want to continue? (This may cause irreparable damage to the database.)</p>
      </div>
      <div class="modal-footer">
      <button type=button class="btn btn-default" data-dismiss="modal">No</button>
      <a class="btn btn-danger" href="{{ url_for(endpoint,id=object.id)}}">Yes</a>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro confirm_deauthorize_strava_modal(object,endpoint) %}
<div class="modal fade" id="deauthorizestrava" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title" id=delete>Confirmation</h4>
      </div>
      <div class="modal-body">
        <p>Warning, you are about to deauthorize {{object.__class__.__name__}} {{object.name}} from Strava. Are you sure you want to continue?</p>
      </div>
      <div class="modal-footer">
      <button type=button class="btn btn-default" data-dismiss="modal">No</button>
      <a class="btn btn-danger" href="{{ url_for(endpoint,id=object.id)}}">Yes</a>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro confirm_email_modal(object,endpoint) %}
<div class="modal fade" id="email" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title" id=delete>Email Confirmation</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to email the results for {{object.name}}?</p>
      </div>
      <div class="modal-footer">
      <button type=button class="btn btn-default" data-dismiss="modal">No</button>
      <a class="btn btn-success" href="{{ url_for(endpoint,id=object.id)}}">Yes</a>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro confirm_delete_participant_modal(participant,race,endpoint) %}
<div class="modal fade" id="participant{{participant.id}}" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title" id=delete>Confirmation</h4>
      </div>
      <div class="modal-body">
        <p>Warning, you are about to delete {{participant.racer.name}} from this race. Are you sure you want to continue? (This may cause irreparable damage to the database.)</p>
      </div>
      <div class="modal-footer">
      <button type=button class="btn btn-default" data-dismiss="modal">No</button>
      <a class="btn btn-danger" href="{{ url_for(endpoint,race_id=race.id,participant_id=participant.id)}}">Yes</a>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro confirm_delete_prime_modal(prime,race,endpoint) %}
<div class="modal fade" id="prime{{prime.id}}" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title" id=delete>Confirmation</h4>
      </div>
      <div class="modal-body">
        <p>Warning, you are about to delete a prime for {{prime.participant.racer.name}} from this race. Are you sure you want to continue? (This may cause irreparable damage to the database.)</p>
      </div>
      <div class="modal-footer">
      <button type=button class="btn btn-default" data-dismiss="modal">No</button>
      <a class="btn btn-danger" href="{{ url_for(endpoint,race_id=race.id,prime_id=prime.id)}}">Yes</a>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro confirm_delete_marshal_modal(race_marshal,race,endpoint) %}
<div class="modal fade" id="race_marshal{{race_marshal.id}}" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title" id=delete>Confirmation</h4>
      </div>
      <div class="modal-body">
        <p>Warning, you are about to delete marshal {{race_marshal.marshal.name}} from this race. Are you sure you want to continue? (This may cause irreparable damage to the database.)</p>
      </div>
      <div class="modal-footer">
      <button type=button class="btn btn-default" data-dismiss="modal">No</button>
      <a class="btn btn-danger" href="{{ url_for(endpoint,race_id=race.id,race_marshal_id=race_marshal.id)}}">Yes</a>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro confirm_delete_official_modal(race_official,race,endpoint) %}
<div class="modal fade" id="race_official{{race_official.id}}" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title" id=delete>Confirmation</h4>
      </div>
      <div class="modal-body">
        <p>Warning, you are about to delete official {{race_official.official.name}} from this race. Are you sure you want to continue? (This may cause irreparable damage to the database.)</p>
      </div>
      <div class="modal-footer">
      <button type=button class="btn btn-default" data-dismiss="modal">No</button>
      <a class="btn btn-danger" href="{{ url_for(endpoint,race_id=race.id,race_official_id=race_official.id)}}">Yes</a>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro confirm_delete_email_modal(notificationemail,endpoint) %}
<div class="modal fade" id="notificationemail{{notificationemail.id}}" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title" id=delete>Confirmation</h4>
      </div>
      <div class="modal-body">
        <p>Warning, you are about to delete {{notificationemail.email}} from the email notification list. Are you sure you want to continue? (This may cause irreparable damage to the database.)</p>
      </div>
      <div class="modal-footer">
      <button type=button class="btn btn-default" data-dismiss="modal">No</button>
      <a class="btn btn-danger" href="{{ url_for(endpoint,id=notificationemail.id)}}">Yes</a>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

