{% extends "base.html" %}

{% block title %}
{{race.date.strftime('%m/%d/%Y')}} - {{race.race_class.name}} Race Details
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Details for Race: {{race.date.strftime('%m/%d/%Y')}} - {{race.race_class.name}}</h1>
{% if current_user.is_authenticated %}
    <a class="btn btn-default" href="{{ url_for('main.race_edit',id=race.id)}}"><span class="glyphicon glyphicon-pencil"></span> Edit race details</a>
    <button type=button class="btn btn-danger" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-remove"></span> Delete race</button>
    {{ macros.confirm_delete_modal(race,'main.race_delete')}}
    <a class="btn btn-default" href="{{url_for('main.race_add_participant',id=race.id)}}"><span class="glyphicon glyphicon-plus"></span> Add a participant</a>
    <a class="btn btn-default" href="{{url_for('main.race_add_prime',id=race.id)}}"><span class="glyphicon glyphicon-plus"></span> Add a prime</a>
    <a class="btn btn-default" href="{{url_for('main.race_add_official',id=race.id)}}"><span class="glyphicon glyphicon-plus"></span> Add an official</a>
    <a class="btn btn-default" href="{{url_for('main.race_add_marshal',id=race.id)}}"><span class="glyphicon glyphicon-plus"></span> Add a marshal</a>
{% endif %}
</div>
<div class="table-responsive">
<table class="table table-striped table-bordered">
<thead>
<tr>
{% if current_user.is_authenticated %}
<th></th>
{% endif %}
<th>Place</th>
<th>Name</th>
<th>Team</th>
{% if points_race %}
<th>Points</th>
<th>Team Points</th>
{% endif %}
<th>Primes</th>
</tr>
</thead>
<tbody>
{% for participant in participants %}
<tr>
{% if current_user.is_authenticated %}
<td class="col-md-1" >
<a role="button" class="btn btn-default btn-xs"  href="{{url_for('main.race_edit_participant',race_id=race.id,participant_id=participant.id)}}"><span class="glyphicon glyphicon-pencil"></span></a>
<button type=button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#participant{{participant.id}}"><span class="glyphicon glyphicon-remove"></span></button>
{{ macros.confirm_delete_participant_modal(participant,race,'main.race_delete_participant')}}
</td>
{% endif %}
{% if participant.place is not none %}
<td>{{ participant.place }}</td>
{% else %}
<td>-</td>
{%endif%}
<td><a href="{{url_for('main.racer_details', id=participant.racer.id)}}">{{ participant.racer.name }}</a></td>
{%if participant.team is not none %}
<td><a href="{{url_for('main.team_details', id=participant.team.id)}}">{{ participant.team.name }}</a></td>
{%else%}
<td>-</td>
{%endif%}
{% if points_race %}
{% if participant.points is not none %}
<td> {{ participant.points }}</td>
{% else %}
<td>-</td>
{%endif %}
{% if participant.team_points is not none %}
<td> {{ participant.team_points }}</td>
{% else %}
<td>-</td>
{%endif %}
{% endif %}
{%if participant.primes|length ==0 %}
<td></td>
{%else%}
<td>
<ul>
{% for prime in participant.primes %}
<li>
{{prime.name}}
{% if current_user.is_authenticated %}
<a role="button" class="btn btn-default btn-xs" href="{{url_for('main.race_edit_prime',race_id=race.id,prime_id=prime.id)}}"><span class="glyphicon glyphicon-pencil"></span></a>
<button type=button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#prime{{prime.id}}"><span class="glyphicon glyphicon-remove"></span></button>
{{ macros.confirm_delete_prime_modal(prime,race,'main.race_delete_prime')}}
{% endif %}
</li>
{%endfor%}
</ul>
</td>
{% endif %}
</tr>
{% endfor %}
</tbody>
</table>
</div>
<h3>
MAR
</h3>

<div class="table-responsive">
<table class="table table-striped table-bordered">
<thead>
<tr>
<th>MAR Place</th>
<th>Name</th>
<th>Team</th>
{% if points_race %}
<th>MAR Points</th>
{% endif %}
</tr>
</thead>
<tbody>
{% for mar_participant in mar_list%}
<tr>
<td>{{mar_participant.mar_place}}</td>
<td><a href="{{url_for('main.racer_details',id=mar_participant.racer.id)}}">{{mar_participant.racer.name}}</a></td>
{%if mar_participant.team is not none %}
<td><a href="{{url_for('main.team_details', id=mar_participant.team.id)}}">{{ mar_participant.team.name }}</a></td>
{%else%}
<td>-</td>
{%endif%}
{% if points_race %}
{% if mar_participant.mar_points is not none %}
<td> {{ mar_participant.mar_points }}</td>
{% else %}
<td>-</td>
{%endif%}
{%endif%}
</tr>
{%endfor%}
</tbody>
</table>
</div>
{% if race.officials |length>0 %}
<h3>
Officials
</h3>
<ul>
{% for race_official in race.officials %}
<li>{{race_official.official.name}}
{% if current_user.is_authenticated %}
<button type=button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#race_official{{race_official.id}}"><span class="glyphicon glyphicon-remove"></span></button>
{{ macros.confirm_delete_official_modal(race_official,race,'main.race_delete_official')}}
{%endif%}
</li>
{%endfor%}
</ul>
{% endif %}


{% if race.marshals |length>0 %}
<h3>
Marshals
</h3>
<ul>
{% for race_marshal in race.marshals %}
<li>{{race_marshal.marshal.name}}
{% if current_user.is_authenticated %}
<button type=button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#race_marshal{{race_marshal.id}}"><span class="glyphicon glyphicon-remove"></span></button>
{{ macros.confirm_delete_marshal_modal(race_marshal,race,'main.race_delete_marshal')}}
{%endif%}
</li>
{%endfor%}
</ul>
{% endif %}
{% endblock %}
