{% extends "base.html" %}

{% block title %}Races{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Races</h1>
<form method="post">
{% if current_user.is_authenticated %}
<a class="btn btn-default" href="{{url_for('main.race_add')}}"><span class="glyphicon glyphicon-plus"></span> Add a race</a>
{% endif %}
<a class="btn btn-default" href="{{url_for('main.race_search')}}"><span class="glyphicon glyphicon-search"></span> Race search</a>
{%if session.race_view=='calendar' %}
<button type="submit" class="btn btn-default" value="submit"><span class="glyphicon glyphicon-th-list"></span> Table View</button>
{%else%}
<button type="submit" class="btn btn-default" value="submit"><span class="glyphicon glyphicon-calendar"></span> Calendar View</button>
{%endif%}

</form>
</div>
{%if session.race_view=='calendar' %}
<div id='calendar'></div>
{%else%}
<div class="table-responsive">
<table class="table table-striped table-bordered">
<thead>
<tr>
    <th>Race Date</th>
    <th>Category</th>
    <th>Starters</th>
    <th>Finishers</th>
</tr>
</thead>
<tbody>
{% for race in races %}
<tr>
<td><a href="{{url_for('main.race_details',id=race.id)}}">{{ race.date.strftime('%m/%d/%Y')}}</a></td> 
<td><a href="{{url_for('main.race_class_details',id=race.race_class.id)}}">{{ race.race_class.name}}</a></td> 
{% if race.starters is none %}
<td>-</td>
{% else %}
<td>{{race.starters}}</td>
{%endif%}
<td>{{race.participants|length}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{%endif%}
{% endblock %}
{% block scripts %}
{{super()}}
<script>
$(document).ready(function() {
  $('#calendar').fullCalendar({
    header: {
        left: 'title',
        right: 'today, prev,next prevYear,nextYear'
    },
    events: '/race'
  })
});
</script>
{%endblock%}

