{% extends "base.html" %}

{% block title %}Race Types{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Race Types</h1>
</div>
<div class="table-responsive">
<table class="table table-striped table-bordered">
<thead>
<tr>
    <th>Name</th>
    <th>Races</th>
</tr>
</thead>
<tbody>
{% for race_class in race_classes %}
<tr>
<td><a href="{{url_for('main.race_class_details',id=race_class.id)}}">{{ race_class.name}}</a></td> 
<td>{{ race_class.races|length}}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
