{% extends "base.html" %}

{% block title %}Race Types{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Race Types</h1>
</div>
<div class="table-responsive">
<table class="table table-striped table-bordered">
<thead>
<tr>
    <th>Name</th>
    <th>Races</th>
</tr>
</thead>
<tbody>
{% for race_class in race_classes %}
<tr>
<td>{{ race_class.description}}</td> 
<td>{{ race_class.races|length}}</td>
</tr>
{% endfor %}
{#Dropping out fancy bootstrap stuff
<tr>
<td>
<div class="input-group"> 
 {{form.race_class_description(placeholder="Add new race type...",class="form-control")}}<span class="input-group-btn"><button type="submit" class="btn">Add</button></span> 
</td>
</div> 
<td></td>
</tr>#}
</tbody>
</table>
<h3>Add a new race type?</h3>
</div>
{{ wtf.quick_form(form) }}
{% endblock %}
