{% extends "base.html" %}

{% block title %}Racers{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Racers</h1>
{% if current_user.is_authenticated %}
<a class="btn btn-default" href="{{url_for('main.racer_add')}}"><span class="glyphicon glyphicon-plus"></span> Add a racer</a>
{% endif %}
</div>
<div class="table-responsive">
<table class="table table-striped table-bordered">
<thead>
<tr>
    <th>Name</th>
    <th>USAC License</th>
    <th>Race Age</th>
</tr>
</thead>
<tbody>
{% for racer in racers %}
<tr>
<td><a href="{{url_for('main.racer_details',id=racer.id)}}">{{ racer.name}}</a></td> 
{%if racer.usac_license %}
<td><a href="https://www.usacycling.org/results/index.php?compid={{racer.usac_license}}">{{racer.usac_license}}</a></td>
{%else%}
<td></td>
{%endif%}
{%if racer.birthdate %}
<td>{{racer.race_age()}}</td>
{% else %}
<td></td>
{%endif%}
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}
