{% extends "base.html" %}

{% block title %}Standings{% endblock %}

{% block page_content %}
<h6>
<ul class="breadcrumb"> 
  <li><a href="{{url_for('main.index')}}">Home</a></li> 
  <li class="active">Standings</li>
</ul>
</h6>
<div class="page-header">
    <h1>Standings</h1>
</div>

<div class="row">
  {% if results is not none %}
    {% if results | length == 0 %}
      <h2>No Results!</h2>
    {%else%}
        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th>Place</th>
              <th>Name</th>
              {% for race in race_calendar %}
                <th><a href="{{url_for('race.details', id=race[1])}}">{{ race[0].strftime('%m/%d') }}</a></th>
              {% endfor %}
              <th>Total Points</th>
            </tr>
          </thead>
          <tbody>
            {% for result in results %}
              <tr>
                <td>{{loop.index}}</td>
                {% if standings_type == 'team' %}
                  <td><a href="{{url_for('team.details', id=result['id'])}}">{{result['name']}}</a></td>
                {% else %}
                  <td><a href="{{url_for('racer.details', id=result['id'])}}">{{result['name']}}</a></td>
                {%endif%}
                {% for date_, points in result['race_pts'].iteritems() %}
                    <td>{{points}}</td>
                {% endfor %}
                <td>{{result['total_pts']}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
      {% endif %}
    {% endif %}
</div>

<br>

<div class="row">
  <div class="col-md-4">
    {{wtf.quick_form(form)}}
  <br>
  </div>
</div>

{% endblock %}
